@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body{
  background-color: #1E1E1E;
  font-family: var(--font-raleway), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-oswald), sans-serif;
}

.bg-custom-gradient {
  background: linear-gradient(to left, rgba(255, 0, 0, 0.2), rgba(255, 226, 226, 0.4));
}

.bg-noise-dark {
  background-image: url('/noise-bg-dark.svg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.bg-noise-light {
  background-image: url('/noise-bg-light.svg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
